<!DOCTYPE html>
<html>
<head>
  <title>Bolao</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <%= javascript_include_tag "application" %>
</html>
